<!-- Page Header -->
<header class="masthead" style="background-image: url('/images/info.jpg')">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="site-heading">
					<h1>{{data.post.title}}</h1>
					<!-- <span class="subheading">An Education and Immigration Website Demo</span> -->
					<span class="meta">Published on {{formatDate data.post.publishedDate}}</span>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- <header>
	<h1>{{data.post.title}}</h1>
	<h5>
		{{{categoryList data.post.categories prefix="Posted in "}}}
		{{#if author.name.first}}by {{author.name.first}}{{/if}}
	</h5>
</header> -->

<article>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">

					<p><a href="/blog">&larr; back to the blog</a></p>
					<hr>

					<div class="post">
						{{#if data.post.image}}<img src="{{{cloudinaryUrl data.post.image width=750 height=450 crop='fit' }}}" class="img-responsive">{{/if}}
						{{{data.post.content.extended}}}
					</div>

			</div>
		</div>
	</div>
</article>
